* {
    
    
}


html {
    background-color: rgb(236, 236, 236); 
    font-family: 'Dosis', sans-serif;

}

section {
    display: flex;
    justify-content: center;
    

}

hr {
    background-color: rgb(194, 194, 194); 
    height: 1px; 
    border: 0;
}

.button_container {
    display: flex;
    justify-content: space-between;
}

#content {
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#password_generator_h {
    font-size: 50px;
    margin-top: 20px;
    
}

#heading {
    display: flex;
    justify-content: center;
}

textarea {
    border-radius: 5px;
    border: rgb(194, 194, 194) dashed 1px;
    resize: none;
    white-space: normal;
    text-align: justify;
    text-align-last: center;
    padding: 10px;
    font-size: 20px;
    color: rgb(121, 121, 121);
    margin: 0px auto;
    font-family: 'Dosis', sans-serif;
}

#generate_password_b {
    background-color: #99251d;
    
}

#copy_to_clipboard_b {
    background-color: rgb(194, 194, 194);
    
}

.buttons {
    padding: 5px 20px;
    border-radius: 30px;
    font-size: 16px;
    color: white;
}

/* @media screen and (max-width: 1000){

    #content {
        /* margin: 0px auto; */
        /* width: 350px; */




/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }






@media screen and (max-width: 536px) {
    .container {
        margin: 0px auto;
        width: 400px;
    }
    #password_area {
        margin: 0px auto;
        width: 336px;
    }
}

@media screen and (max-width: 442px) {
    .container {
        margin: 0px auto;
        width: 300px;
    }
    #password_area {
        margin: 0px auto;
        width: 236px;
    }
    #heading{
        width: 100%;
        font-size: 30px;
    }
    #password_generator_h{
        margin-top: 10px;
        font-size: 30px;
    }
}

@media screen and (max-width: 320px) {
    .container {
        margin: 0px auto;
        width: 250px;
    }
    #password_area {
        margin: 0px auto;
        width: 190px;
    }
    #heading{
        width: 100%;
        font-size: 30px;
        margin: 0px auto !important;
    }
    #password_generator_h{
        font-size: 30px;
    }
    .buttons {
        font-size: 12px;
    }
}




/* #header_sub_container {
    display: flex;
    flex-direction: row;
    background-color: lightgrey;
    width: 80%;
    padding: 0px 10%;
} */

/* .container {
    display: grid;
    grid-template-areas: 
    ". a . "
    ". b .  " 
    ". c . " 
    ". d . " 
    ;
    grid-template-columns: 37% 25% 37%;
    grid-template-rows: 50px 50px 100px 50px;
    grid-gap: 20px;
    justify-items: center;
} */


/* Password Generator */
/* #item-one {
    grid-area: a;
} */
/* Generate a Password */
/* #item-two {
    grid-area: b;
} */
/* textarea */
/* #item-three {
    grid-area: c;
} */
/* Generate Password */
/* #item-four {
    grid-area: d;
} */
/* Copy to Clipboard */
/* #item-five {
    grid-area: e;
} */